.mask, .img-list {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.mask {
	background-color: #222;
}
.topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #111;
	z-index: 10;
	opacity: .8;
}

/* img-list start */
.img-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.img-list li {
	position: relative;
	float: left;	
	width: 12.5%;
	height: 100%;		
}
.img-list li div {
	width: 100%;
	height: 100%;
	opacity: .3;
}
.img-list li div:hover,
.img-list li div:hover + .textRight,
.img-list li div:hover + .textLeft
{
	transition: 1s;
	opacity: .99;
	z-index: 10;
}

.textRight, .textLeft {
	z-index: -1;
	position: absolute;
	top: 50px;	
	width: 40px;	
	background-color: transparent;
	font-size: 40px;
	color: #fff;
	opacity: 0;	
}
.textRight {right: -50px;}
.textLeft {left: -50px;}
.img-list li:nth-child(1) div {background: url(../img/1.jpg) no-repeat;background-size: cover;}
.img-list li:nth-child(2) div {background: url(../img/2.jpg) no-repeat;background-size: cover;}
.img-list li:nth-child(3) div {background: url(../img/3.jpg) no-repeat;background-size: cover;}
.img-list li:nth-child(4) div {background: url(../img/4.jpg) no-repeat;background-size: cover;}
.img-list li:nth-child(5) div {background: url(../img/5.jpg) no-repeat;background-size: cover;}
.img-list li:nth-child(6) div {background: url(../img/6.jpg) no-repeat;background-size: cover;}
.img-list li:nth-child(7) div {background: url(../img/7.jpg) no-repeat;background-size: cover;}
.img-list li:nth-child(8) div {background: url(../img/8.jpg) no-repeat;background-size: cover;}

/* img-list end */